@model LULU.WebApp.Models.StudentViewModel
    
@{
    ViewBag.Title = "New Student";
} 

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <table>
        <tr>
            <td>@Html.LabelFor(m => m.StudentNumber)</td>
            <td>@Html.EditorFor(m => m.StudentNumber)</td>
            <td>@Html.ValidationMessageFor(m => m.StudentNumber)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.FirstName)</td>
            <td>@Html.EditorFor(m => m.FirstName)</td>
            <td>@Html.ValidationMessageFor(m => m.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Surname)</td>
            <td>@Html.EditorFor(m => m.Surname)</td>
            <td>@Html.ValidationMessageFor(m => m.Surname)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Email)</td>
            <td>@Html.EditorFor(m => m.Email)</td>
            <td>@Html.ValidationMessageFor(m => m.Email)</td>
        </tr>
        <tr>
            <td><input id="submit" type="submit" value="Save Changes" /></td>
            <td class="pull-right">@Html.ActionLink("Cancel", "Index", "Student")</td>
        </tr>
    </table>
}
